# Environment files
.env
.env.developer
.env.researcher
.env.designer
.env.secretary

# Node modules
node_modules/

# Logs
npm-debug.log*

# DB
db/*.sqlite
db/*.sqlite-shm
db/*.sqlite-wal

# State
.ui-verification/
.workspace/

# Apple
.DS_Store
